# Data Analysis

In [4]:
import pandas as pd

In [9]:
dataframe=pd.read_csv("CarData.csv")
dataframe.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [10]:
dataframe.shape

(301, 9)

In [14]:
numerical_features=[feature for feature in dataframe.columns if dataframe[feature].dtype!="O"]
catergorical_features=[feature for feature in dataframe.columns  if dataframe[feature].dtype=="O"]
continues_feature=[feature in data.columns if len(dataframe[feature].unique()) < 5

In [19]:
print(f"numerical feature {numerical_features}")
print(f"categorical_feature{catergorical_features}")

numerical feature ['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven', 'Owner']
categorical_feature['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission']

### Finding the Null Values

In [26]:
dataframe.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

Thas good not to have any null value in the dataset so no extra stuff to handle the null value

### Unique Categorical_feature